[submodule "Raytracy/vendor/spdlog"]
	path = Raytracy/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Raytracy/vendor/glm"]
	path = Raytracy/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Raytracy/vendor/glfw"]
	path = Raytracy/vendor/glfw
	url = https://github.com/glfw/glfw
